
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;

}
body {
    font-family: 'Edu TAS Beginner', cursive;
    background: url(https://4kwallpapers.com/images/walls/thumbs_3t/6303.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header {
    height: 100vh;
}

.navbar-style {
    box-shadow: 0 5px 10px none;
    padding-left: 10%;
}

div .menu_text{
    font-size: larger;
    padding-left: 90%;
    font-weight: bold;
    margin-right: 10%;
}



li {
    list-style: none;
}
       
li a{
    text-decoration: none;
    font-size: larger;
    font-family: 'Edu TAS Beginner', cursive;
    color: teal;
    text-transform: capitalize;
    padding-right: 0%;
}
a:hover{
    color: cyan;
}

h1 {
    display: block;
    font-size: xx-large;
    font-family: 'Edu TAS Beginner', cursive;
    color: teal;
    text-transform: capitalize;
    font-weight: bolder;    
}
h1:hover{
    color: cyan;
}
p {
    display: block;
    font-size: x-large;
    font-family: 'Edu TAS Beginner', cursive;
    color:teal;
}
p:hover{
    color: cyan;
}

.content_text{
    display: block;
    font-size: xx-large;
    margin-left: 5%;
    margin-right: 5%;
}
.long_text{
    display: block;
    font-size: large;
    margin-left: 5%;
    margin-right: 5%;
}

.request_text{
    display: block;
    font-size: xx-large;
    font-weight: 900;
    text-decoration: none;
    color: teal;
    margin-left: 1%;
    margin-right: 50%;
}
.request_text:hover{
    color: cyan;
}
.email-bt{
    display: block;
    font-size: larger;
    font-weight: 500;
    color: black;
    background-color: whitesmoke;
}

.message-bt{
    display: block;
    font-size: larger;
    font-weight: 500;
    color: black;
    background-color: whitesmoke;
}

.send_container {
    display: block;
    margin-left: 10%;
}




.send_container :after{
    display: block;
    margin-left: 10%;
}
button{
    font-size: large;
    color: teal;
    font-weight: 700;
    display: block;
    background-color: black;
    padding: 1%;
    padding: 1vh;
    padding: 1vw;
    cursor: pointer;   
}
button:hover{
    color: cyan;
}

.addres_text{
    display: block;
    font-size: xx-large;
    font-family: 'Edu TAS Beginner', cursive;
    color:teal;
}
.addres_text:hover{
    color: cyan;
}

.map_text{
    display: block;
    font-size: large;
    font-family: 'Edu TAS Beginner', cursive;
    color:teal;
}

.row fixed-bottom{
    padding-left:30px;
    padding-right:30px;
    align-items: end;
    padding: auto;
}

h3{
    display: block;
    font-size: x-large;
    font-family: 'Edu TAS Beginner', cursive;
    color: teal;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0%;
}
h3:hover{
    color: cyan;
}

.col2{
    width: 500px;
    height: auto;
    overflow: hidden;
    image-rendering: auto;
}

.carousel-container {
    width: 500px;
    height: 300px;
    position: fixed;
    border-radius: 10px;
}

.carousel-inner{
    width: 100%;
    height: 100%;
    object-fit: cover;
}  
.carousel-image {
    width: 100px; 
    height: 100px;
    object-fit: cover;
}

.w-80 {
    width: 80%!important;
    object-fit: cover;
}
.d-block {
    width: 500px;
    height: 250px;
    display: block;
    position: relative;
}

img, svg {
    vertical-align: none;
}

.col{
    object-fit: cover;
}

.card{
    border-radius: 350px;
    border-style: hidden;
    background-origin: hidden;
    background-color: black;
    padding: 0px;
    margin-left: 120px;
    image-rendering: crisp-edges;
    image-resolution: 100%;
}



.imgbox{
    position: fixed;
    position: center;
    width: 50%;
    height: 30%;
    margin-left: 38%;
}
.imgbox img{
    position: relative;
    height: 100%;
    width: 30%;
    top: 100px;
    right: 50px;
    animation: animateUser 4s linear infinite;
}

@keyframes animateUser{
    50%{
        right: 30px;
        top: -90px;
    }
}
