* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: Raleway;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
    margin: 0px;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
 

.padding_0 {
    padding: 0 !important;
}

h1 {
    font-size: 24px
}
  
 
button:focus {
    outline: none;
}

ul, 
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: 35px;
} 

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}
  

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
 
.layout_padding {
    padding-top:10px;
    padding-bottom: 0px;
}

.header_section {
    width: 100%;
    float: left;
    background-color: #e05306;
    height: auto;
    padding-top: 15px;
    padding-bottom: 5px;
}

.menu_text {
    width: 100%;
    float: left;
}

.menu_text li {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 18px;
    color: #ffffff;
}

.menu_text ul {
    margin: 0px;
    padding: 0px;
}

.menu_text li a {
    color: #ffffff;
} 
 
 
.content_section {
    width: 100%;
    float: left;
    background-color: #000; 
    padding: 24px 0px;
}

.content__container {    
    width: 92%;
    float: right;
    margin-top: 0px;
}

.content_text {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
}

.long_text {
    width: 91%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    margin-left: 0px;
    text-align: justify;
}
 
/* About */




/* contact */
.contact_section {
    width: 100%;
    float: left;
    background-color: #e05306;
    height: auto;
}

.contact_main {
    width: 100%;
    float: left;
    margin-top: 1px;
    padding-bottom: 20px;
    min-height: 52vh;
}

.contact_bg {
    width: 82%;
    margin-left: 15px;
}

.request_text {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #fffcf4;
    border-bottom: 0px solid#49bcfe; 
}

.email-bt {
    background: transparent;
    border-bottom: 1px solid #fffcf4;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: #fffcf4 !important;
    width: 100%;
    height: 30px;
    font-size: 20px;
    padding: 20px 20px 20px 0px;
    margin-bottom: 10px;
}

input.email-bt::placeholder {
    color: #fffcf4;
}

.message-bt {
    background: transparent;
    border-bottom: 1px solid #fffcf4;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: #fffcf4 !important;
    width: 100%;
    height: 85px;
    font-size: 20px;
    padding: 20px 20px 20px 0px;
}

textarea#comment.message-bt::placeholder {
    color: #fffcf4;
}

.send_container button {
    width: 30%;
    float: left;
    background-color: #041d2c;
    color: #fffdf6;
    text-align: center;
    padding: 12px 0px;
    font-size: 18px;
    border-radius: 10px;
    margin-left: 10px;
}

.send_container button {
    color: #fffdf6;
    background-color: #041d2c;
}

.send_container button:hover {
    color: #000;
    background-color: #ffffff;
    border-radius: 50px;
} 
/* contact */



.footer_section {
    width: 100%;
    float: left;
    background-color: #1c1d1d;
    height: auto; 
    padding-bottom: 20px;
} 

.addres_text { 
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    color: #fcf8f9; 
}

.map_addres {    
    width: 100%;
    float: left;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 24px;
}

.map_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fffcf4;
    display: flex;
}

.map_icon {
    padding-left: 10px;
    padding-top: 4px;
}

.social_icon {
    width: 15%;
    margin: 0 auto;
    text-align: center;
}

.social_icon ul {
    margin: 0px;
    padding: 0px
}

.social_icon li {
    float: left;
    padding-left: 10px;
}  

.image {
    display: block;
    width: 100%;
    height: auto;
} 

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
 
 
.menu_text {
    width: 100%;
    float: left;
}
 

a {
    color: #ffffff;
    text-decoration: none;
    outline: none !important;
}